<div id="left">
    <div id="message"></div>
    <div id="chat">
        <input type="text" id="input-message">
        <button id="button-submit">submit</button>
    </div>
</div>
<div id="right">
    <div id="user">
        <span>Welcome, <%= username %>!</span>
        <button id="logout">logout</button>
    </div>
    <div id="room-wrapper">
        <div id="rooms">
            <p class="header">rooms</p>
            <ul>
                <li class="room-item" id="room-item-hall">hall</li>
                <li class="room-item" id="room-item-dev">dev</li>
            </ul>
        </div>
        <div id="users">
            <p class="header">users</p>
            <ul id="user-list">
            </ul>
        </div>
    </div>
</div>
